#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#avisaDeErroBox{
  width: 100%;
  padding: 1px;
  background-color: #ff4f5d;
  color: #242424;
  font-weight: bold;
}
#avisoDeSucessoBox{
  width: 100%;
  padding: 1px;
  background-color: #67ff67;
  color: #242424;
  font-weight: bold;
}
#loginFormDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 180px;
  background: #00bf63;
  transition: 2s;
  align-items: center;
  margin-top: 40px;
  border-radius: 25px;
}
#signupFormDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 340px;
  background: #00bf63;
  transition: 2s;
  align-items: center;
  margin-top: 40px;
  border-radius: 25px;
}
#absoluteBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginImagem{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

}
#loginFormDiv input,
#signupFormDiv input{
  padding: 10px;
  margin: 10px 30px 15px 30px;
  border-radius: 20px;
  width: 200px;
  border: none;
  background: white;
  color: #000;
}
#loginFormDiv input::placeholder,
#signupFormDiv input::placeholder{
  color: #000;
  text-align: center;
}
#quizCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  transition: 0.2s;
  padding: 10px;
  background: #e2e60a;
  border-radius: 10px;
  width: 20vw;
  color: #000;
  margin-bottom: 20px;
}
#navBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
  height: 10vh;
  width: 100vw;
  margin-bottom: 3vw;
}
#navBar a{
  color: #000;
  text-decoration: none;
}
#navBar img{
  height: 50px;
}
#principalPage{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 80vh;
}
#principalPage img{
  height: 80vh;
}
#principalPage #text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
  padding: 0;
  margin: 0;
}
#principalPage a:nth-child(1) button{
  margin: 10px;
  color: #000;
  background-color: #e2e60a;
}
#principalPage a:nth-child(2) button{
  margin: 10px;
  color: #000;
  background-color: #00bf63;
}



main{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
#mainLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
#navBarProfile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
  font-size: large;
  font-weight: bold;
}
#navBarLinks{
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  width: 30vw;
  background: #e2e60a;
  padding: 0px 10px 0px 10px;
  min-height: 100%;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
}
#quizCard:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#quizArea{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  pad: 10px;
}

a{
  color: #000;
  text-decoration: none;
}
#profilePageBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #00bf63;
  padding: 20px;
  width: 50vw;
  border-radius: 20px;
}
#profilePageBox div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
#profilePageBox div:nth-child(2) div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:25%;
}
#profilePageBox div:nth-child(2) div h2{
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
.loginImagemProfile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -60px;
  overflow: hidden;

}
#answerQuiz{
  padding: 10px;
  border: none;
  background: #00bf63;
  color: #000;
}